/*Tamaños de imagenes:
- top 3: 1827x300
- Top3:hover: 1827x600
- top3 mobile: 422x285 */


/*Inicio Top Cards*/

.card_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-left: 1%;
    max-width: 100%;
    padding: 30px 28px;
    grid-gap: 30px;
    align-items: stretch;
  }

  .card_wrapper2 {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-left: 8%;
    max-width: 100%;
    padding: 30px 28px;
    grid-gap: 30px;
    align-items: stretch;
  }
  
  
  /*Fin Top Cards*/


/*---------------------------------------------------KIRO----------------------------------------------------------*/


  /*tops 1 kiro */

  .cardtop1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
    background-image: url(../media/ffviilogo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    width: 100%;
    height: 285px;
    background-position: center;
  }
  
  .cardtop1:hover {
    background-image: url(../media/ffvii.jpg);
    height: 1200px;
    transition: 0.9s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  }
  
  .cardtop1 p {
    font-size: 220%;
    font-family: minecraft;
    color: gold;
  }

  .cardtop1:hover p{
    display: none;
  }

  @media (max-width: 520px) {
    .cardtop1 {
      background-image: url(../media/ffviimobile.png);
      justify-content: left;
      margin-bottom: 1%;
    }
    .cardtop1:hover {
      background-image: url(../media/ffviimobile.png);
      height: 285px;
      transition: none;
    }
    .cardtop1 p {
      font-size: 220%;
    }
    .cardtop1:hover p {
      display: flex;
    }
  }

  /*tops 2 kiro */

  .cardtop2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
    background-image: url(../media/sekirologo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    width: 100%;
    height: 285px;
    background-position: center;
  }
  
  .cardtop2:hover {
    background-image: url(../media/Sekiro.jpg);
    height: 1200px;
    transition: 0.9s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  }
  
  .cardtop2 p {
    font-size: 220%;
    font-family: minecraft;
    color: grey;
  }

  .cardtop2:hover p{
    display: none;
  }

  @media (max-width: 520px) {
    .cardtop2 {
      background-image: url(../media/sekiromobile.png);
      justify-content: left;
      margin-bottom: 1%;
    }
    .cardtop2:hover {
      background-image: url(../media/sekiromobile.png);
      height: 285px;
      transition: none;
    }
    .cardtop2 p {
      font-size: 220%;
    }
    .cardtop2:hover p {
      display: flex;
    }
  }


  /*tops 3 kiro */

  .cardtop3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
    background-image: url(../media/Persona5logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    width: 100%;
    height: 285px;
    background-position: center;
  }
  
  .cardtop3:hover {
    background-image: url(../media/Persona5.jpg);
    height: 1200px;
    transition: 0.9s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  }
  
  .cardtop3 p {
    font-size: 220%;
    font-family: minecraft;
    color: #bc641f;
  }

  .cardtop3:hover p{
    display: none;
  }

  @media (max-width: 520px) {
    .cardtop3 {
      background-image: url(../media/persona5mobile.png);
      justify-content: left;
      margin-bottom: 1%;
    }
    .cardtop3:hover {
      background-image: url(../media/persona5mobile.png);
      height: 285px;
      transition: none;
    }
    .cardtop3 p {
      font-size: 220%;
    }
    .cardtop3:hover p {
      display: flex;
    }
  }



  /*---------------------------------------------------KANU----------------------------------------------------------*/


  /*tops 1 kanu */

  .cardtop1_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
    background-image: url(../media/ffviilogo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    width: 100%;
    height: 285px;
    background-position: center;
  }
  
  .cardtop1_2:hover {
    background-image: url(../media/ffvii.jpg);
    height: 1200px;
    transition: 0.9s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  }
  
  .cardtop1_2 p {
    font-size: 220%;
    font-family: minecraft;
    color: gold;
  }

  .cardtop1_2:hover p{
    display: none;
  }

  @media (max-width: 520px) {
    .cardtop1_2 {
      background-image: url(../media/ffviimobile.png);
      justify-content: left;
      margin-bottom: 1%;
    }
    .cardtop1_2:hover {
      background-image: url(../media/ffviimobile.png);
      height: 285px;
      transition: none;
    }
    .cardtop1_2 p {
      font-size: 220%;
    }
    .cardtop1_2:hover p {
      display: flex;
    }
  }

  /*tops 2 kanu */

  .cardtop2_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
    background-image: url(../media/sekirologo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    width: 100%;
    height: 285px;
    background-position: center;
  }
  
  .cardtop2_2:hover {
    background-image: url(../media/Sekiro.jpg);
    height: 1200px;
    transition: 0.9s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  }
  
  .cardtop2_2 p {
    font-size: 220%;
    font-family: minecraft;
    color: grey;
  }

  .cardtop2_2:hover p{
    display: none;
  }

  @media (max-width: 520px) {
    .cardtop2_2 {
      background-image: url(../media/sekiromobile.png);
      justify-content: left;
      margin-bottom: 1%;
    }
    .cardtop2_2:hover {
      background-image: url(../media/sekiromobile.png);
      height: 285px;
      transition: none;
    }
    .cardtop2_2 p {
      font-size: 220%;
    }
    .cardtop2_2:hover p {
      display: flex;
    }
  }


  /*tops 3 kanu */

  .cardtop3_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
    background-image: url(../media/Persona5logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    width: 100%;
    height: 285px;
    background-position: center;
  }
  
  .cardtop3_2:hover {
    background-image: url(../media/Persona5.jpg);
    height: 1200px;
    transition: 0.9s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  }
  
  .cardtop3_2 p {
    font-size: 220%;
    font-family: minecraft;
    color: #bc641f;
  }

  .cardtop3_2:hover p{
    display: none;
  }

  @media (max-width: 520px) {
    .cardtop3_2 {
      background-image: url(../media/persona5mobile.png);
      justify-content: left;
      margin-bottom: 1%;
    }
    .cardtop3_2:hover {
      background-image: url(../media/persona5mobile.png);
      height: 285px;
      transition: none;
    }
    .cardtop3_2 p {
      font-size: 220%;
    }
    .cardtop3_2:hover p {
      display: flex;
    }
  }



     /*---------------------------------------------------GENERAL----------------------------------------------------------*/



   /*tops 3-10 */

   .card {
    display: inline-block;
    width: 30%;
    height: 100%;
  
    transition: transform 0.3s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  
    &:hover {
      transform: scale(1.03);
    }
  }

  .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .image-wrapper img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  .image-wrapper p {
    position: absolute;
    color: black;
    font-size:  200%;
    bottom: 0;
    z-index: 1;
  }

  @media (max-width: 520px) {
    .card {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
    .card_wrapper2 {
      margin-left: 0%;
    }
  }


  .cardextras {
    display: inline-block;
    background-size: 100% 100%;
    border-radius: 4px;
    width: 60%;
    height: 100%;
  
    transition: transform 0.3s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  
    &:hover {
      transform: scale(1.03);
    }
  }